<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 m-0 text-left text-white"><f:render section="FooterMenu" arguments="{FooterMenu: FooterMenu}" /></div>
            <div class="col-sm-6 m-0 text-right text-white"><f:cObject typoscriptObjectPath="lib.copyright" /></div>
        </div>
    </div>
    <!-- /.container -->
</footer>

<f:if condition="{settings.childSettings.back_to_top}">
    <a href="javascript:;" class="goto-top">
        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="20" viewBox="0 0 9.515 5.605"><path d="M2070.667,110.667,2075,115l-4.333,4.333" transform="translate(-110.242 2075.848) rotate(-90)" fill="none" stroke="#fff" stroke-width="1.2"/></svg>
    </a>
</f:if>

<f:section name="FooterMenu">
    <f:if condition="{FooterMenu}">
        <f:for each="{FooterMenu}" as="item">
            <f:if condition="{item.spacer}">
                <f:then>
                    </ul>
                    <ul class="navbar-nav">
                </f:then>
                <f:else>
                    <a href="{item.link}" id="nav-item-{item.data.uid}" class="text-white">
                        {item.title}
                    </a>|
                </f:else>
            </f:if>
        </f:for>
    </f:if>
</f:section>
